
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.accio/
.DS_Store
.netrc
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*.dmg
*.dmg.sha256
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
#
# .swiftpm
# *.xcodeproj
# *.xcworkspace
# Accio dependency management
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Add this line if you want to avoid checking in source code from the Xcode workspace
# After new code Injection tools there's a generated folder /iOSInjectionProject
# Build artifacts
# Carthage
# Carthage/Checkouts
# CocoaPods
# Code Injection
# fastlane
# For more information about the recommended setup visit:
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
# hence it is not needed unless you have added a package configuration file to your project
# https://docs.fastlane.tools/best-practices/source-control/#source-control
# https://github.com/johnno1962/injectionforxcode
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# It is recommended to not store the screenshots in the git repo.
# macOS
# Package.pins
# Package.resolved
# Packages/
# Pods/
# Swift Package Manager
# We recommend against adding the Pods directory to your .gitignore. However
# Xcode
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# you should judge for yourself, the pros and cons are mentioned at:
## App packaging
## Compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
## Compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
## Obj-C/Swift specific
## Playgrounds
## User settings
build/
Carthage/Build/
Dependencies/
DerivedData/
dist/
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
iOSInjectionProject/
playground.xcworkspace
timeline.xctimeline
xcuserdata/
